body{
  font-family: sans-serif;
  margin: 0;
  background: #182848;
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7 );


#btn{
  position: relative;
  right: 270px;
  top: 48px;
}
#buscar{
  position: relative;
  top: 10px;
  color: white;
  left: 5px;
}
#busc{
  position: relative;
  top: 10px;
}
  

}
header{
  display: flex;
  min-height: 70px;
    background: #182848;
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7 );
/*barrra de todo el color de encabezad¿*/
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
a{
  text-decoration: none;
  color: white;
  

}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 50px;
  margin-right: 10px;
}
.logo h2{
color: white;
position: relative;

}
nav a{
  font-weight: 600;
  padding-right: 10px;
  
 
}
nav a:hover{
  color: black;
}


@media (max-width:700px){
  header{
    flex-direction: column;
  }
  nav{
    padding: 10px 0 px;
  }
}
.barra{
  font-family: sans-serif;
  width: 3%;
  height:2%;
  position: fixed;
  transition: .4s all;
  z-index: 1;
}
.barra ul{
  padding: 0px;
  text-align: center;
}
.barra li{
  transition: .3s all;
}
.barra a{
  text-decoration: none;
  list-style: none;
  transition: .3s all;
  font-size: 0px;
  padding: 0px;
  
}
.barra h3{
  text-align: relative;
right: 1000px;
  color: white;
  padding: 0px;
  padding-bottom: 0px;
  font-size: 0px;
}
.barra img{
  padding-top: 1px;
  padding-left: 1px;
  padding-top: 1px;
}
.barra:hover{
  width: 30%;
  height: 100%;
   background: #182848;
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7 );/*color de la barra de botones*/
}
.barra:hover h3{
  padding: 15px;
  font-size: 35px;
  pos
}

.barra:hover a{
  font-size: 20px;
  color: white;
  display: block;
  padding: 20px;
}
.barra:hover img{
  height: 0px;
}
.barra:hover li{
  border-top: 1px solid black;
  width: 100%;
}
.barra:hover ul:last-of-type{
  border-bottom: 1px solid black;
}
.barra:hover a:hover{
  font-size: 25px;
  padding: 30px 0px;
  background-color: rgb(12, 36, 92) ; /*resaltacion de el boton a presionar*/
}
div .Perfil{
  position: absolute;
  width: 90px;
}
h3{
top: 0px;
left: 200px;
  position: relative;
  color: black;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

*{
  padding : 0;
  margin: 0;
  box-sizing: border-box;
}

.caja-padre{
  width: 40%;
  min-width: 590px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 30%;
  top: 65%;
}
 
.contenedor{
  width: 100%;
  padding: 30px 30px 50px;
  background: linear-gradient(450deg, gray, gray);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow:0 20px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);

}

.contenedor *{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-weight: 500;
}

h2{
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
}

.documentos:not(:last-child){
  margin-bottom: 30px;
}

.detalles{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.menu{
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;

}

.menu div{
  position: relative;
  width: 0;
  height: 8px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}

/*animacion*/

#formatos-menu{
  animation: formatos-barra 2s forwards;
}

@keyframes formatos-barra{
  100%{
    width: 90% ;
  }
}


#reportes-menu{
  animation: reporte-barra 2s forwards;
}

@keyframes reporte-barra{
  100%{
    width: 60% ;
  }
}


#carta-menu{
  animation: carta-barra 2s forwards;
}

@keyframes carta-barra{
  100%{
    width: 30% ;
  }
}


#proyecto-menu{
  animation: proyecto-barra 2s forwards;
}

@keyframes proyecto-barra{
  100%{
    width: 20% ;
  }
}


#informe-menu{
  animation: informe-barra 2s forwards;
}

@keyframes informe-barra{
  100%{
    width: 10% ;
  }
}


#oficios-menu{
  animation: oficios-barra 2s forwards;
}

@keyframes oficios-barra{
  100%{
    width: 5% ;
  }
}

/*calendario de actividades-------------------------------------------------------------------*/
#calendario{
  position: relative;
  left: 28%;
  top: 149px;
}

.calendar {
  position: relative;/*va a cambiar la posision del calendario */
  left: 25%;
  top: 150px;
  background: #96b6b4;
  width: 40%;
  max-width: 600px;
  margin: 1em auto;
  padding: .5em 0; }
  .calendar__info { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2em;
    font-size: 1.2em;
    text-transform: uppercase; }
  .calendar__prev, .calendar__next {
    color: #000000;
    cursor: pointer;
    font-size: 1.3em; }
  .calendar__prev {
    margin-right: auto; }
  .calendar__next {
    margin-left: auto; }
  .calendar__week, .calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px; }
  .calendar__month, .calendar__year {
    padding: .5em 1em; }
  .calendar__item {
    text-align: center;
    line-height: 2; }
  .calendar__today {
    background: rgb(79, 158, 115);
    color: white;
    width: 50%;
    border-radius: 50%;
    margin: auto; }
  .calendar__last-days {
    opacity: .3; }
